.chart{
  &-container{

  }
  &-card{

    &-header , .MuiCardHeader-title , .MuiCardHeader-action > button > svg{
      font-style: normal;
      font-weight: 600 !important;
      font-size: 16.8125px !important;
      /* identical to box height, or 160% */
      /* identical to box height, or 160% */


      /* Light/Text/Primary */

      color: rgba(58, 53, 65, 0.87);
    }
    &-content{
      height: 400px;
    }
  }
}
.report-statistic {
  font-family: 'Roboto';
  padding: 20.18px;

  &.common-legends{
    padding-bottom: unset;
    padding-left: unset;
  }

  :first-child {
    font-weight: bold;
    color: rgba(58, 53, 65, 0.87);
  }

  :nth-child(2) {
    color: rgba(58, 53, 65, 0.6);
    font-size: 13.45px;
  }

  .legend-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;

    .legend-item-container {
      .legend {
        width: 5px;
      }

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 5px;

      div:nth-child(2) {
        line-height: 2.8;
      }
    }
  }

}

.chemical-analysis  {
  width: 100%;
  border: 1px solid #FFFFFF;
  border-collapse: collapse;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  text-align: center;

  th, td {
    border: 1px solid #FFFFFF;

    border-collapse: collapse;
    width: 101.44px;
    height: 17.36px;
  }
  td{
    background-color:#F0F1F1;
    &.red-cell{
      background-color:  #FF6166;
      color: #FFFFFF;

    }
  }

  th , td:last-child{
    background-color: #FFFFFF;
  }

}

.product-card{
  padding: 5px 0 0 0 ;
}

.sensors-card-content{
  height: 160px;
}
.achievable-switcher-title{
  font-style: normal;
  font-weight: 600 !important;
  font-size: 16.8125px !important;
  color: rgba(58, 53, 65, 0.87);
}
