.taste-items{
   border: 1px solid #E3EDFC;
   padding: 0px;
   
}
.taste-bg{
  background-color: #F5F8FD;
  height: 100%;
  padding: 6px;
  min-width: 0px;
}
 
.justify-center{
  justify-content: center;
}
 