.protocols-items{
  border: 1px solid rgba(58, 53, 65, 0.23);
}
.justify-center{
  justify-content: center;
}

.node-item{
  border: 0.558981px solid rgba(58, 53, 65, 0.23);
  border-radius: 4px;
  &-header
  {
    height: 42px;
    font-size: 7.82574px;
    color: #FFFFFF;
    .icon{
      color: #FFFFFF;
      font-size: 7.82574px;
      top: 2px !important;
      position: absolute  !important;
      right: 7px  !important;
    }
     &.ingredient{
      background: #F99417;
    }
  }

  &-actions{
      justify-content: center;
    button{
      position: absolute;
      bottom: -18px;
    }
  }
}