.protocols-items{
  border: 1px solid rgba(58, 53, 65, 0.23);
}
.justify-center{
  justify-content: center;
}

.node-item{
  border: 0.558981px solid rgba(58, 53, 65, 0.23);
  border-radius: 4px;
  &-header
  {
    height: 42px;
    font-size: 7.82574px;
    color: #FFFFFF;
    .icon{
      color: #FFFFFF;
      font-size: 7.82574px;
      top: 2px !important;
      position: absolute  !important;
      right: 7px  !important;
    }
     &.ingredient{
      background: #F99417;
    }
    &.merge{
      background:#F85A4C;
    }
    &.serve{
      background: #38C253
    }
    &.process{
      background: #4285F4

    }
  }

  &-actions{
      justify-content: center;
    button{
      position: absolute;
      bottom: -18px;
    }
  }
}
.handle-circle{
background-color: transparent;
  /* border: 2px solid #0F9D58; */
  height: 20px;
  width: 24px;
  right: 20px;
  top: unset;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  &.target{
    right:unset;
    left: 20px;
  }

  &-nested{
    background-color: #0F9D58;
    height: 8px;
    width: 8px;
    position: absolute;
    top: 2px;
    border-radius: 50%;
    left: 2px;

  }
}

.handle-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  right: 10px;
  padding-top: 19px;
}