.generate-taste-items{
   border: 1px solid #FFD3D4;
   padding: 0px;
   height: 33px;
   border-radius: 5px;
}
.generate-taste-bg{
  height: 100%;
  min-width: 0px;
}

.generate-arrow{
  background-color: #F2F3F3;
  visibility:hidden ;
  color: #92979D;
}
.generate-taste-new-value{
  padding: 3px;
  text-align: right;
}
.generate-taste-name{
  padding: 3px 0px;
  
 }
 
.justify-center{
  justify-content: center;
}

.generate-taste-items:hover  .generate-arrow {
  visibility:visible ;
}

.generate-new-title{
  text-align: right;
  color: #FFA629;
}
.generate-org-title{
  text-align: center;
  color: #4285F4;
}

 