body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.breadcrumb-item{
  text-decoration: unset !important;
  color: rgba(0, 0, 0, 0.6);
  &.active{
    color: rgba(0, 0, 0, 0.87);
  }
}

.list-master-actions{
  margin-bottom: 16px;
  button{
    font-weight: 600;
    font-size: 14px;
    color: rgba(58, 53, 65, 0.6);
    &.primary{
      color: #4285F4;
    }
  }
}

.error-text{
  color:#d32f2f !important;
}